html {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

h1,
blockquote {
    font-family: "Georgia", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

header>h1{
    font-family: "Helvetica", sans-serif;
}
body>article>h1{
    font-size: 26px;
}

blockquote{
    margin: 0 0 1rem 1.5rem;
    font-style: italic;
    border-left: 5px solid rgb(196, 196, 196);
    padding: 0.5rem 2rem 2rem 1rem;
    max-width: 40%;
    float: right;
}

.author{
    text-align: right;
}
