.page {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column row;
    align-items: flex-start;
    justify-content: space-between;
}

.page:after {
    display: block;
    content: '';
    clear: both;
}
