nav {
    display: flex;
    align-items: center;
    flex-flow: row;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
}

nav.main>ul {
    display: flex;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
}

nav.main li {
    display: block;
    list-style: none outside;
    position: relative;
}

nav.main a {
    display: block;
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 44, 44);
    text-decoration: none;
    border-radius: 0.3rem;
}

nav.main li:hover>a,
nav.main a:hover {
    background-color: rgb(0, 153, 0);
}

nav.main>ul>li:not(:last-child) {
    padding-right: 0.5rem;
}

nav.main>ul ul li:not(:last-child) {
    padding-bottom: 0.5rem;
}

nav.main ul {
    padding: 0.5rem;
    margin: 0;
}

nav ul ul {
    display: none;
    position: absolute;
    width: 10rem;
    transition: opacity 0.2s ease-out, transform 0.1s ease-in;
    transform: translateY(2rem);
}

nav.main li:hover>ul {
    display: block;
    transform: translateY(0);
}

nav.main>ul>li>ul {
    top: 100%;
    left: -0.5rem;
}

nav.main>ul>li>ul>li>ul {
    top: -0.5rem;
    left: inherit;
    right: 100%;
}
