html {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

h1{
    font-family: "Georgia", serif;
    font-size: 26px;
    line-height: 1.2;
}

.site-title{
    text-transform: uppercase;
    font-size: 40px;
    font-style: bold;
}
